
<div class="container">
  <div class="row">
      <aside class="col-3" >
        <div class="artist-foto">
          <h3>{{artist.fullname}}</h3>
          <img class="artist-preview" src="/img/{{artist.foto}}" />
          
            

        </div>
         <br>
          <br>
          <a href="/items/new">Add new paintings</a>
          
      </aside>

      <main class="col-9">
          {{!-- <div class="artist-about-page">
            <p>{{artist.about}}</p>
          </div>  --}}
        
        <p><strong>About the artist:</strong></p>

     

        <div class="row-x ">
          <div class="artist-about-page">
            <p>{{artist.about}}</p><br />
          </div>
          {{#each items}}
            <a href="/items/{{this.id}}/">
            <div class="image-preview">
              <div {{!-- class="image-preview" --}} style="background-image: url('/img/{{this.foto}}')">
                <p><strong>{{this.title}}</strong></p><br />
              </div> 
            </div>
          </a>
          {{/each}}
        </div> 

        
      </main>
    </div>
  </div>
</div>
   






