<section class="art-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" >
        <div class="artist-foto">
          <h3>{{artist.fullname}}</h3>
          <img class="img-responsive" src="/img/{{artist.foto}}" />
        </div>
        <br />
          <a class="btn btn-default text-center" type="button" href="/items/new">Add new paintings</a>
      </div>
      <div class="col-sm-9">
          {{!-- <div class="artist-about-page">
            <p>{{artist.about}}</p>
          </div>  --}}
        {{!-- <p ><strong>About the artist:</strong></p> --}}
        <br /><p>{{artist.about}}</p><br />
        <div class="row">
        
        
          
          {{#each items}}
          <div class="col-xs-6 col-md-4">
            <a href="/items/{{this.id}}/">
              <div class="image-preview">
                <div {{!-- class="image-preview" --}} style="background-image: url('/img/{{this.foto}}')">
                  <p><strong>{{this.title}}</strong></p><br />
                </div> 
              </div>
            </a>
          </div>
              
          {{/each}}
        </div>    
      </div> {{!-- col-sm-9 --}}
    
    </div>
  </div>
</section>
  






