<div class="container">
  <div class="row">
    
        <aside class="col-3">
          <ul class="people-list">
            {{#each artists}}
              <li><a href="/artists/{{this.id}}">{{this.fullname}}</a></li>
            {{/each}}
          </ul>
        </aside>

        <main class="col-9">
          <div class="row-x">
            
            <h5><a href="/artists/new">Add new artist </a></h5>
          
            {{#each artists}}
              <a href="/artists/{{this.id}}">
                <div class="display-box">
                   <img class="artist" src="/img/{{this.foto}}">
                   {{this.fullname}}
                   {{!-- <p>{{this.about}}</p> --}}
                </div>
              </a>
            {{/each}}
          </div> 
          {{!--  <ul class="people_list">
            {{#each artists}}
              <li>{{this}}</li>
            {{/each}}
            </ul> --}}
          {{!-- <img src="/img/08c4b4858ee2fa0bf13cb8bad435d056" /> --}}
        </main>
    </div>
  </div>
</div>



















