
<div class="container">
  <div class="row">
      <aside class="col-3" >
        <ul>
         <h3>{{artist.fullname}}</h3>
          <img class="artist-preview" src="/img/{{artist.foto}}">

        </ul>
      </aside>

      <main class="col-9">
      {{!-- <p>{{artist.about}}</p> --}}

      <div class="container artist-menu">
        <div class="row">
          <div class="items-items-btn">Items</div>
          <div class="items-about-btn">About</div>
        </div>
        
      </div>

        <div class="row-x ">
        <div class="artist-about-page">
          <p>{{artist.about}}</p>
        </div>
          {{#each items}}
           {{!--  <a href="/artists/{{this.id}}"> --}}
              <div class="display-box">
              {{this.title}}<br />
                 <img class="artist" src="/img/{{this.foto}}"><br />
                 {{!-- <p>{{this.about}}</p> --}}
                
                
                    {{!-- <p>{{this}}</p> --}}
                
              
              </div>
            {{!-- </a> --}}
          {{/each}}
        </div> 

        
      </main>
    </div>
  </div>
</div>
   

