<section class="art-section">
  <div class="container">
    <div class="row">
 
        <div class="col-sm-3">
          <h3 class="">All gallery artists:</h3>
          <ul class="artists-li">
            {{#each artists}}
              <li><a href="/artists/{{this.id}}">{{this.fullname}}</a></li>
            {{/each}}
          </ul>
          <p class=""><a class="btn btn-default" type="button" href="/artists/new">Add new artist </a></p>
        </div>
        
      <div class="col-sm-9">
          {{#each artists}}
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="display-artist">
                <a href="/artists/{{this.id}}">
                  <div>  
                     <img class="img-responsive" src="/img/{{this.foto}}"> 
                  </div>
                  <p class="text-center"> {{this.fullname}}</p>
                </a>
              </div>

            </div>
            
          {{/each}}
      
      </div>
    </div>
  </div>

</section>




















