
<main class="container">
  <div class="row">
    <div class="col-12">
      <h5><a href="/items/new">Add new item </a></h5>
     
      <ul class="items_list">
        {{#each items}}
          <div class="item-box yoxview">
            <strong>{{this.artist}}</strong><br />
            <img src="/img/{{this.foto}}"><br />
            <small>{{this.title}}</small>
            {{!-- {{this.id}} --}}
          </div>
        {{/each}}
      </ul>
    </div>
  </div>
</main>




{{!--  <p>{{this.title}}</p>
      <p>{{this.id}}</p>
      <p><strong>Artist: </strong>{{this.artist}}</p>
      <p><strong>Location: </strong>{{this.location}}</p>
      <p><strong>Created: </strong>{{this.created}}</p>
      <p><strong>Subject: </strong>{{this.subject}}</p>
      <p><strong>Periods: </strong>{{this.periods}}</p>
      <img src="/img/{{this.foto}}"> --}}

