<main class="new-artist">
  <h3>Add a new item to collection</h3>
  <div class="container">
  <div class="row">
    <div class="col-12">
  
  <form method="post" action="/items/new" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Name" size="102" required />
    <br /><br />
    {{!-- <input type="text" name="artist" placeholder="Artist fullname" size="102" />
    <br /><br /> --}}
    {{!-- <select name="artist" required> --}}
      {{#each artists}}
      <p>{{this.fullname}}</p>
        {{!-- <option value={{this.fullname}}>{{this.fullname}}</option> --}}
              {{!-- <li><a href="/artists/{{this.id}}">{{this.fullname}}</a></li> --}}
      {{/each}}
    {{!-- </select> <small>Artist fullname</small> --}}
    <br /><br />
    <textarea name="about" rows="10" cols="100">About item</textarea>
    <br /><br />
    <input type="text" name="location" placeholder="Location" size="102" />
    <br /><br />
    <input type="text" name="created" placeholder="Date" size="102" />
    <br /><br />
    <input type="text" name="subject" placeholder="Subject" size="102" />
    <br /><br />
    <input type="text" name="periods" placeholder="Periods" size="102" />
    <br /><br />
    <input type="file" name="foto" placeholder="Foto path" required />
    <br /><br />
    <button>Add new item</button>
  </form>
    </div>
  </div>
</main>
